*{
  box-sizing: border-box;
}
/**base styles=====================================================**/
body{
  margin: 0;
  min-height:100vh;
}
ul {
  list-style:none;
  padding-left:0;
}
nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight:400;
  letter-spacing:.05em;
  background-color:#829356;
  padding:25px;
}
a {
  text-decoration:none;
  color:#AA336A;
}
a:hover, .top-nav a:hover {
  color:purple;
}
a:hover,.top-nav a:hover,.top-nav li:hover{
  transform: scale(1.1);
}
h1,.top-nav {
  text-align:center;
}
.top-nav, .top-nav li {
  width:100%;
}
h1 a, .top-nav a {
  color:#000;
}
.topbar {
  background-color:#ffd1dc;
}
.top-nav {
  margin-top: 30px;
  font-weight: bold;
}
.top-nav li{
  padding:10px 0;
  margin:5px auto;
  background-color: rgb(209,243,255,.3);
  border-radius: 5rem;
}
.top-nav a {
  text-transform:uppercase;
}
.intro {
  background-color:white;
}
.body-text {
  color: #555B5F;
  font-family: 'Work Sans', Arial, Verdana;
}
.heading-text,.heading-text-contact {
  font-family:"Roboto", Arial, Verdana;
  letter-spacing: 1px;
  margin-bottom: -.3rem;
  text-align:center;
  width:100%
}
.topbar h1 {
  font-family: 'Merriweather', serif;
}
.portfolio {
  text-align: center;
}
.bottomborder {
  font-family:"Roboto", Arial, Verdana;
  font-size: 14px;
  color:#ffd1dc;
}
.bottomborder-text {
  text-shadow: 0 0 .2px pink;
}
#image-intro {
  height:290px;
  width:auto;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-body-text,.skills-list {
  color: #555B5F;
  font-family: 'Work Sans', Arial, Verdana;
  display: flex;
  flex-wrap: wrap;
  margin:30px;
  text-align: center;
}
.skills-list li{
 background-color:pink;
 border-radius: 4rem;
 max-width: 200px;
 padding:10px;
 margin:10px;
}
.skills-list {
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
}
#skills-body-text {
  width:600px;
  margin-left:50px;
  margin-right: 50px;
}

/* flexbox =================================*/
.image {
  align-self: center;
  flex-grow:1;
  max-width:300px;
}
.body-text {
  text-align:center;
  font-size:1.1rem;
  max-width:300px;
}
.div-in,.div {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:2rem;
  flex-direction: row;
  font-family: "Roboto",Arial, Verdana;
}
/*footer flexbox*/
.footer {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  color: #555B5F;
  font-family: 'Work Sans', Arial, Verdana;
  text-align:center;

}
.footer ul{
  display:flex;
  text-align:justify;
  flex-wrap: wrap;
  padding:4rem;
}
.list3 {
  flex-basis:100%
}
.list1 {
  max-width:300px;
}
.footer li {
  margin:.5rem 0;
  flex: 0 0 100%;
}
.bottomborder {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.bottom-nav {
  display:none;
}
/*media queries=============================*/
@media screen and (min-width:768px) and (max-width:1024px) {
  .top-nav {
    margin-top: 0;
  }
  .top-nav li {
    display:inline-block;
    width:auto;
    margin-right:15px;
    padding:10px;
  }
  .top-nav li:last-child {
    margin-right:0;
  }
  .list1 {
    max-width:500px;
  }
  .topbar {
    padding:10px 0px 0px;
  }

 #image-intro {
   order:2;
  }
.div-in {
  display:inline-flex;
  margin:0px;
  flex-direction: column;
  flex-grow: .1;
  width:50%;
}
.skills-body-text,.skills-list {
  width:50%;
  max-height:200px;
}
.container {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.body-text {
  align-self: center;
}
 footer {
  background-color: rgb(300,243,255,.8);
  padding-top:10px;
}
.bottomborder {
  color:black;
}
.bottom-nav {
  display:flex;
}
.bottom-nav h3 {
  margin-right:30px;
}
.bottom-nav::after {
  display:inline-block;
}
.bottomborder-text-none {
  display:none;
}
.topcolor {
  background-color:#ffd1dc;
}
#image {
  padding-bottom:50px;
  padding-left:5px;
  padding-top:0px;
}
.top-nav {
  padding-bottom: 0px;
}
}
@media screen and (min-width:1024px) {
  .topcolor {
    background-color:#ffd1dc;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  .topbar, .top-nav {
    display:flex;
  }
  .topbar h1 {
    width:250px;
  }
  .top-nav {
    margin-top:0;
    margin-bottom:0;
    justify-content: flex-end;
  }
  .top-nav li {
    flex-direction: column;
    width:150px;
    justify-content: space-around;
    width:130px;
    margin:10px;
  }
  #image {
    padding-bottom:50px;
    padding-left:5px;
    padding-top:0px;
    justify-content: space-around;
    align-items:flex-start;
  }
  #image-intro {
    order:2;
   }
   #body-text-intro {

     margin:0;
     text-align: justify;

   }
   .container {
     display:flex;
     flex-wrap:wrap;
     justify-content:space-around;
     max-width:4704px;
     padding:20px;
   }
   .div-in {
     display:inline-flex;
     margin:0px;
     flex-direction: column;
     flex-grow: .1;
     width:33%;
     padding:20px;
   }
    .body-text {
     width:100%;
     max-width: 600px;
   }

   footer {
    background-color: rgb(300,243,255,.8);
    padding-top:10px;
}
.bottomborder {
  color:black;
  justify-content: space-between;
}
.bottom-nav {
  display:flex;
}
.bottom-nav h3 {
  margin-right:30px;
}
.bottom-nav::after {
  display:inline-block;
}
.bottomborder-text {
  margin-left: 2rem;
}
.bottomborder-text-none {
  display:none;
}
.body-text {
  align-self: center;
}
.list1 {
  max-width:100%;
}
.skills-body-text,.skills-list {
  color: #555B5F;
  font-family: 'Work Sans', Arial, Verdana;
  display: flex;
  flex-wrap: wrap;
  margin:30px;
  text-align: center;
  width:50%;
  max-height:150px;
}
#skills-body-text {
  width:900px;
  margin:20px 30px;
}
}
